.git
*Dockerfile*
*docker-compose*

# Dependency directories
server/node_modules/
server/client/node_modules/

# dist folders
server/dist/
server/client/dist/

# dotenv environment variables file
.env

# log files
*.log

# lambda functions are handled separately
lambda/
